.bar {
    background-color: #154c79;
    font-weight: 300;
    align-self: stretch;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
}

.logo {
    height: 5vh;
}

/*.moreInfo{

}*/