

.chatbox {
    background-color: lightgray;
    border-radius: 5px;
    padding: 10px;
    min-width: 300px;
    width: 30vw;
    margin: auto;
}

.topbar{
    text-align: center;
    color: black;
    font-weight: bold;
}

.chat {
    padding: 5px;
    background-color: whitesmoke;
    color: black;
    height: 200px;
    font-size: medium;
}

button{
    font-size: medium;
    padding: 5px;
    border-radius: 10px;
    font-weight: 300;
    border-width: thin;
    vertical-align: middle;
}

button:hover{
    background-color: #dbdbdb;
}

button:active {
    transform: translateY(2px);
}

.start-recording {
    background-color: #FF9900;
}

.start-recording:hover {
    background-color: #D79900;
}

.stop-recording {
    background-color: #ff4c38;
}

.stop-recording:hover {
    background-color: #D34C38;
}

