.container{
    margin: auto;
}

.chatbox {
    background-color: #d9d9d9;
    border-radius: 5px;
    padding: 10px;
    min-width: 200px;
    width: 30vw;

}

.topbar{
    text-align: center;
    font-weight: bold;
    color: #000;
}

.chat {
    display: flex;
    padding: 5px;
    background-color: white;
    color: black;
    height: 200px;
    font-size: medium;
    flex-direction: column;
}

button{
    font-size: medium;
    padding: 5px;
    border-radius: 10px;
    font-weight: 300;
    border-width: thin;
    vertical-align: middle;
}

button:hover{
    background-color: #dbdbdb;
}

button:active {
    transform: translateY(2px);
}

.start-recording {
    background-color: #FF9900;
}

.start-recording:hover {
    background-color: #D79900;
}

.stop-recording {
    background-color: #ff4c38;
}

.stop-recording:hover {
    background-color: #D34C38;
}

.flex-container {
    display: flex;
    justify-content: center;
}

.button-holder {
    align-self: center;
}

.loading-icon {
    margin-top: auto;
    align-self: center;
}
