// RESPONSIVE

@mixin mobile {
    @media screen and (max-width: 480px) {
        @content;
    }
}

@mixin tablet {
    @media screen and (max-width: 768px) {
        @content;
    }
}

@mixin laptop {
    @media screen and (max-width: 1200px) {
        @content;
    }
}

.home{
    background-color: rgba(6, 11, 26, 1);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .container{
        border-radius: 10px;
        width: 65%;
        height: 80%;
        color: #FFF;
        display: flex;
        overflow: hidden;
        padding: 0;
        margin: 0;
        @include tablet{
            width: 90%;
        }

        .sidebar{
            flex: 1;
            border-right: 1px solid #364cc776;
            background-color: #364cc776 ;
            @include tablet{
                display: none;
            }

            .navbar{
                display: flex;
                align-items: center;
                background-color: #364cc79b;
                height: 50px;
                padding: 10px;
                justify-content: space-between;
                color: #ddddf7;

                .logo{
                    font-weight: bold;
                    @include tablet{
                        display: none;
                    }
                }
            }

            .powered{
                .title{
                    padding: 10px;
                    font-size: 11px;
                }
            }

            .sponsors{
                padding: 10px;
                display: flex;
                align-items: center;
                gap: 10px;
                cursor: pointer;

                &:hover{
                    background-color: #2b3c9f;
                }

                img{
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    object-fit: contain;
                }

                .sponsorInfo{
                    font-weight: 200;
                    font-size: 18px;
                }
            }


        }
        .chatcontainer{
            flex: 2;
            
            .chatInfo{
                height: 50px;
                background-color: #364cc79b;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 10px;
                color: #FFF;
            }

            .chatContacts{
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;

                img{
                    width: 30px;
                    height: 30px;
                    object-fit: contain;
                    border-radius: 100%;
                    display: none;
                    cursor: pointer;

                    &:hover{
                        scale: 1.2;
                    }

                    @include tablet{
                        display: block;
                    }
                }
            }

            .chatIcons{
                display: flex;
                gap: 10px;

                i{
                    font-size: 18px;
                    cursor: pointer;
                }
            }

            .messages{
                background-color: #F9F9FA;
                padding: 10px;
                color: #FFF;
                height: calc(100% - 95px);
                overflow-y: scroll;
                overflow-x: hidden;

                &::-webkit-scrollbar{
                    display: none;
                }

                .message{
                    display: flex;
                    gap: 20px;
                    margin-bottom: 20px;

                    .messageInfo{
                        display: flex;
                        flex-direction: column;
                        color: gray;
                        font-weight: 300;
                        img{
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            object-fit: cover;
                            border: 1px solid #364cc79b;
                        }
                    }

                    .messageContent{
                        max-width: 80%;
                        display: flex;
                        flex-direction: column;
                        gap: 10px;

                        p{
                            background-color: #364cc79b;
                            padding: 10px 20px;
                            border-radius: 0px 10px 10px 10px;
                            max-width: max-content;
                        }

                        img{
                            object-fit: contain;
                            width: 25%;
                            object-position: left;
                        }
                    }

                    &.owner{
                        flex-direction: row-reverse;

                        .messageContent{
                            align-items: flex-end;

                            p{
                                background-color: #364cc7be;
                                color: #FFF;
                                border-radius: 10px 0px 10px 10px;
                            }
                        }
                    }
                }
            }

            .input{
               height: 45px;
               background-color: #F9F9FA;
               color: #000;
               padding: 10px;
               display: flex;
               align-items: center;
               justify-content: space-evenly;
               gap: 10px;

               input{
                width: 85%;
                border: none;
                outline: none;
                color: #2f2d52;
                font-size: 14px;
                background-color: #F9F9FA;

                    &::placeholder{
                        color: lightgray;
                    }
               }

               .send{
                display: flex;
                align-items: center;
                gap: 10px;

                    button{
                        width: 30px;
                        height: 30px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin: auto;
                        background: #364cc7;
                        border-radius: 100%;
                        border: none;
                        transition: all 0.3s ease;

                        &:hover{
                            background-color: #2b3c9f;
                        }

                        i{
                            color: #FFF;
                        }
                    }

                    .select{

                        display: flex;
                        width: 135px;
                        height: 20px;
                        gap: 5px;
                        overflow: hidden;

                        select{
                            -webkit-appearance: none;
                            appearance: none;
                            -moz-appearance: none;
                            -ms-appearance: none;
                            outline: 0;
                            box-shadow: none;
                            border: 0 !important;
                            background: #364cc7;
                            // background-image: none;
                            color: #FFF;
                            text-align: center;
                            border-radius: .25em;
                            padding: 0px 2px 0px 2px;
                            cursor: pointer;
                            font-size: 15px;

                            &::-ms-expand{
                                display: none;
                            }
                        }
                    }
               }
            }
        }
    }
}

.light-theme .home{
    background-color: #FFF;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .container{
        border-radius: 10px;
        width: 65%;
        height: 80%;
        color: #FFF;
        display: flex;
        overflow: hidden;
        padding: 0;
        margin: 0;

        .sidebar{
            flex: 1;
            border-right: 1px solid #6850ef;
            background-color: #6850ef;

            .navbar{
                display: flex;
                align-items: center;
                background-color: #816aff;
                height: 50px;
                padding: 10px;
                justify-content: space-between;
                color: #ddddf7;

                .logo{
                    font-weight: bold;
                }
            }

            .sponsors{
                padding: 10px;
                display: flex;
                align-items: center;
                gap: 10px;
                cursor: pointer;

                &:hover{
                    background-color: #5136e9;
                }

                img{
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    object-fit: contain;
                }

                .sponsorInfo{
                    font-weight: 200;
                    font-size: 18px;
                }
            }
        }
        .chatcontainer{
            flex: 2;
            border-right: 1px solid #6850ef;
            
            .chatInfo{
                height: 50px;
                background-color: #6850ef;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 10px;
                color: #FFF;
            }

            .chatIcons{
                display: flex;
                gap: 10px;

                i{
                    font-size: 18px;
                    cursor: pointer;
                }
            }

            .messages{
                background-color: #F9F9FA;
                padding: 10px;
                height: calc(100% - 95px);
                overflow-y: scroll;
                overflow-x: hidden;

                .message{
                    display: flex;
                    gap: 20px;
                    margin-bottom: 20px;

                    .messageInfo{
                        display: flex;
                        flex-direction: column;
                        color: gray;
                        font-weight: 300;
                        img{
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            object-fit: cover;
                            border: 1px solid #6850ef;
                        }
                    }

                    .messageContent{
                        max-width: 80%;
                        display: flex;
                        flex-direction: column;
                        gap: 10px;

                        p{
                            background-color: #6850ef;
                            padding: 10px 20px;
                            border-radius: 0px 10px 10px 10px;
                            max-width: max-content;
                            color: #FFF;
                        }

                        
                        img{
                            object-fit: contain;
                            width: 25%;
                            object-position: left;
                        }
                    }

                    &.owner{
                        flex-direction: row-reverse;

                        .messageContent{
                            align-items: flex-end;

                            p{
                                background-color: #6850ef;
                                color: #FFF;
                                border-radius: 10px 0px 10px 10px;
                            }
                        }
                    }
                }
            }

            .input{
               height: 45px;
               background-color: #F9F9FA;
               color: #000;
               padding: 10px;
               display: flex;
               align-items: center;
               justify-content: space-between;
               border-bottom: 1px solid #6850ef;

               input{
                width: 100%;
                border: none;
                outline: none;
                color: #2f2d52;
                font-size: 14px;
                background-color: #F9F9FA;

                    &::placeholder{
                        color: lightgray;
                    }
               }

               .send{
                display: flex;
                align-items: center;
                gap: 10px;

                button{
                    width: 30px;
                    height: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: auto;
                    background:#6850ef;
                    border-radius: 100%;
                    border: none;
                    transition: all 0.3s ease;

                    &:hover{
                        background-color: #5339e4;
                    }

                    i{
                        color: #FFF;
                    }
                }

                .select{

                    display: flex;
                    width: 130px;
                    height: 20px;
                    gap: 5px;
                    overflow: hidden;

                    select{
                        -webkit-appearance: none;
                        appearance: none;
                        -moz-appearance: none;
                        -ms-appearance: none;
                        outline: 0;
                        box-shadow: none;
                        border: 0 !important;
                        background: #6850ef;
                        // background-image: none;
                        color: #FFF;
                        text-align: center;
                        border-radius: .25em;
                        // padding: 10px 0px 10px 0px;
                        cursor: pointer;
                        font-size: 15px;

                        &::-ms-expand{
                            display: none;
                        }
                    }
                }
               }
            }
        }
    }
}